db:
  Path: {{ data_path }}
eth2:
  Network: {{ network_name }}
  BeaconNodeAddr: {{ BeaconNodeAddr }}
eth1:
  ETH1Addr: {{ ETH1Addr }}
  RegistryContractAddr: {{ RegistryContractAddr }}
OperatorPrivateKey: {{ PrivateKey.sk }}